.interactive-box {
    background: red;
    height:400px;
    display:flex;
}

.controls {
    background:blue;
    height:100%;
    width:250px;
}

.results {
    background:blue;
    height:100%;
    width:250px;
}

.data {
    height:100%;
    flex: 1;
    position: relative;
    overflow: auto;
}

.threshold-line {
    height:calc(100% - 6px);
    width:0;
    border: 3px solid green;
    position: absolute;
    top: 0;
    left: 0;
}

.datum-container {
    height: 50px;
    width: 100%;
    background: white;
    border-bottom: 2px solid black;
    display: flex;
}

.datum_left_column {
    width: 300px;
    background: #aaa;
    height: 100%;
}

.datum_right_column {
    flex: 1;
    height: 100%;
}

.ball {
    border-radius:25px;
    width:50px;
    height:50px;
    margin: auto auto;
}
.ball.red {
    background: #f00;
}
.ball.blue {
    background: #00f;
}

.bar {
    background: #0f0;
    height:25px;
    margin:auto 0;
}