body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    background: #525252;
    color: #ffeeff;
    text-shadow: -2px 2px 15px #FF4D80, -1px 1px 5px #FF4D80;
    font-family: 'Mina', sans-serif;
    cursor:url("cursors/cursor.png"), auto;
}

.box {
    transition:0.5s ease-in, transform 0.5s 0.5s ease-out;
    /*visibility:hidden;*/
}
.box:not(.visible) {
    transform:scale(1, 0);
    height:0 !important;
    overflow:hidden;
    margin:0 !important;
    padding:0 !important;
    margin-left:-50%;
    margin-top:-50%;
}
.box.visible {
    visibility: visible;
}

.interactive-box:not(.visible) {
    visibility: hidden;
}
.text-box:not(.visible) {
    visibility: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.text-box {
    font-size: 24px;
    padding: 0 100px;
    padding-top:0;
}
.text-box.top {
}

.next-button {
    width: 160px;
    height: 100px;
    display: block;
    margin: 100px auto 0 auto;
    overflow: visible;
    cursor: pointer;
    background: #7353BA;
    text-align: center;
    font-size: 32px;
    line-height: 100px;
    border: 3px solid #ffeeff;
    box-shadow: -2px 2px 15px #7353BA, -1px 1px 5px #7353BA;
}
.next-button:hover {
    background: #FF4D80;
    box-shadow: -2px 2px 15px #FF4D80, -1px 1px 5px #7353BA;
}

.graphic {
    width:100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

#hero {
    margin-top:200px;
    margin-bottom:150px;
    height:400px;
    background-image:url("hero.gif");
}

#effects-image {
    height:100%;
    background-image:url("effects.gif");
    left:0;
    top:0;
    position: absolute;
    z-index: -10;
    background-position: left;
}

#effects-text {
    margin-top: 300px;
    background: rgba(48, 34, 79, 1);
    padding:40px;
}

#neuralnets-image {
    height:600px;
    background-image:url("neuralnets.gif");
    position: absolute;
    z-index: -10;
}

#bias-image {
    height:600px;
    margin-top:75px;
    margin-bottom:75px;
    background-image:url("bias.gif");
    right:100px;
    bottom:100px;
    position: absolute;
    z-index: -10;
    background-position: right;
}

.interactive-box {
    height:400px;
    display:flex;
    padding: 20px;
    padding-bottom: 100px;
}

.result-span, .interactive-box {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #80FFE8;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black,
                -1px -1px black, -1px 1px black, 1px -1px black, 1px 1px black,
                3px 0 black, 4px 0 black, 5px 0 black,
                6px 0 black, 7px 0 black, 8px 0 black,
                3px 1px black, 4px 1px black, 5px 1px black,
                6px 1px black, 7px 1px black, 8px 1px black,
                3px 2px black, 4px 2px black, 5px 2px black,
                6px 2px black, 7px 2px black, 8px 2px black,
                3px -1px black, 4px -1px black, 5px -1px black,
                6px -1px black, 7px -1px black, 8px -1px black,
                3px -2px black, 4px -2px black, 5px -2px black,
                6px -2px black, 7px -2px black, 8px -2px black;
}

.result-span {
    font-size: 24pt;
}

.bar {
    box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black,
                -1px -1px black, -1px 1px black, 1px -1px black, 1px 1px black,
                3px 0 black, 4px 0 black, 5px 0 black,
                6px 0 black, 7px 0 black, 8px 0 black,
                3px 1px black, 4px 1px black, 5px 1px black,
                6px 1px black,
                3px 2px black, 4px 2px black,
                3px -1px black, 4px -1px black, 5px -1px black,
                6px -1px black,
                3px -2px black, 4px -2px black;
}

.controls {
    height:100%;
    width:250px;
    padding: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    background: rgba(137,182,165,.5);
    border-radius: 10px;
    position: relative;
    border: 1px solid #FF4D80;
}

.results {
    border-radius: 10px;
    height:100%;
    width:250px;
    padding: 20px;
    margin-left: 20px;
    box-sizing: border-box;
    background: rgba(137,182,165,.5);
    position: relative;
    box-shadow: 1px 1px 5px #a07f9a;
    border: 1px solid #FF4D80;
}

.data {
    height:100%;
    flex: 1;
    position: relative;
}

.small-data {
    height:400px;
    width:45%;
    position: relative;
}

.small-data.left {
    float:left;
}
.small-data.right {
    float:right;
}

.threshold-line {
    height:calc(100% - 6px);
    width:0;
    border: 3px solid #80FFE8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.data-container {
    border-radius: 10px;
    overflow:hidden;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #FF4D80;
}

.data-container::after, .results::after, .controls::after {
    border-radius: 10px;
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:linear-gradient(rgba(16, 18, 16, 0) 50%, rgba(6, 7, 6, 0.25) 50%),
               linear-gradient(90deg, rgba(255, 0, 0,0.06), rgba(0, 255, 0, 0.02),rgba(0, 0, 255, 0.06));
    z-index:20;
    background-size:100% 2px, 3px 100%;
    pointer-events:none;
    box-shadow: 1px 1px 5px #FF4D80 inset;
}

.datum-container {
    height: 50px;
    width: 100%;
    border-bottom: 2px solid #FF4D80;
    display: flex;
}

.datum_left_column {
    width: 100px;
    background: rgba(128, 255, 232, .75);
    height: 100%;
    position: relative;
}

.datum_right_column {
    flex: 1;
    height: 100%;
    background: rgba(137,182,165,.5);
    position: relative;
}

.ball {
    border-radius:25px;
    width:30px;
    height:30px;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid black;
}
.ball.red {
    background: #f00;
}
.ball.blue {
    background: #00f;
}
.ball.green {
    background: rgb(17, 123, 4);
}
.ball.yellow {
    background: rgb(249,254,100);
}
.ball.small {
    width:20px;
    height:20px;
    margin: -10px 0 0 -10px;
}

.mortgage {
    width:50px;
    height:50px;
    margin: -25px 0 0 -25px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}
.mortgage.success {
    background-image: url('check.svg');
}
.mortgage.failure {
    background-image: url('wrong.svg');
}

.bar {
    position: relative;
    background: #7353BA;
    height:25px;
    margin-top: -12.5px;
    top: 50%;
    border: 2px solid black;
    box-sizing: border-box;
    display: inline-block;
}
.bar:nth-child(even) {
    background: #FF4D80;
}

.guesses {
    z-index: 15;
    position: absolute;
    bottom:0px;
    width:100%;
    padding: 20px;
    box-sizing: border-box;
}

#left_guess {
    float:left;
}

#right_guess {
    float:right;
}

.results {
    font-size: 24px;
}

.input-widget {
    margin-top:1em;
}

#arrows {
    position: fixed;
    bottom: 0;
    left: 50px;
    height: 50%;
    transition:bottom 0.5s ease-in;
    z-index: -1;
    visibility: hidden;
}

#mortgageman {
    position: fixed;
    bottom: 100%;
    right: 50px;
    height: 80%;
    transition:top 0.5s ease-in;
    z-index: -1;
}

.highlighted {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3232+0,ff8832+7,fcf532+12,90fc32+18,32fc3c+24,32ffb7+31,32e0ff+39,304bff+46,7a28ff+52,de28ff+58,c226f2+64,00f4f0+72,cc2ecc+80,38b9f4+90,ff00f6+100,7db9e8+100 */
    background: #ff3232; !important /* Old browsers */
    background: -moz-linear-gradient(left, #ff3232 0%, #ff8832 7%, #fcf532 12%, #90fc32 18%, #32fc3c 24%, #32ffb7 31%, #32e0ff 39%, #304bff 46%, #7a28ff 52%, #de28ff 58%, #c226f2 64%, #00f4f0 72%, #cc2ecc 80%, #38b9f4 90%, #ff00f6 100%, #7db9e8 100%) !important ; /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff3232 0%,#ff8832 7%,#fcf532 12%,#90fc32 18%,#32fc3c 24%,#32ffb7 31%,#32e0ff 39%,#304bff 46%,#7a28ff 52%,#de28ff 58%,#c226f2 64%,#00f4f0 72%,#cc2ecc 80%,#38b9f4 90%,#ff00f6 100%,#7db9e8 100%) !important ; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff3232 0%,#ff8832 7%,#fcf532 12%,#90fc32 18%,#32fc3c 24%,#32ffb7 31%,#32e0ff 39%,#304bff 46%,#7a28ff 52%,#de28ff 58%,#c226f2 64%,#00f4f0 72%,#cc2ecc 80%,#38b9f4 90%,#ff00f6 100%,#7db9e8 100%) !important ; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#7db9e8',GradientType=1 ) !important ; /* IE6-9 */
}

#neighborhood-comparison, #what-taught-text {
    margin-top:100px;
}

.start-button {
    position: absolute;
    display: block;
    bottom: 10px;
    z-index: 10;
    right: 45%;
}